
html {
  font-size: 20px; /* do px size on html but use rems otherwise */
}

header {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
}

.site-body {
  font-family: 'Crimson Text', Georgia, serif;
}

.pull-quote em {
  font-style: italic;
  font-size: 1.25rem;
  @media (min-width: 1024px) {
    font-size: 1.75rem;
  }
}
